In [4]:
from dataProcessing import DataProcessor
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
data_processor = DataProcessor()
df = data_processor.read_data('data/Desafio 2 - renner_sales_sample_train.csv')
df = data_processor.clean(df, test=False)
df = data_processor.features(df)
df.head()

,loja,data,venda,loja_web,index,c_br,c_uy,s_al,s_am,s_ap,...,s_rs,s_sc,s_se,s_sp,s_to,week_of_year,year,store_avg,store_std,holiday
0,renner_ar_ex_1,2019-12-08,68,0,1,0,0,0,0,0,...,0,0,0,0,0,49,2019,46.319672,68.294485,0
1,renner_ar_ex_1,2019-12-15,376,0,1,0,0,0,0,0,...,0,0,0,0,0,50,2019,46.319672,68.294485,0
2,renner_ar_ex_1,2019-12-22,345,0,1,0,0,0,0,0,...,0,0,0,0,0,51,2019,46.319672,68.294485,1
3,renner_ar_ex_1,2019-12-29,219,0,1,0,0,0,0,0,...,0,0,0,0,0,52,2019,46.319672,68.294485,1
4,renner_ar_ex_1,2020-01-05,140,0,1,0,0,0,0,0,...,0,0,0,0,0,1,2020,46.319672,68.294485,1

In [3]:
df_test = data_processor.read_data('data/Desafio 2 - renner_sales_sample_test.csv')
df_test = data_processor.clean(df_test, test=True)

store_avgs = df.groupby('loja')['venda'].mean()
store_stds = df.groupby('loja')['venda'].std()

df_test = data_processor.features(df_test, test=True, store_avgs=store_avgs, store_stds=store_stds)
df_test.head()

,loja,data,venda,loja_web,index,c_br,c_uy,s_al,s_am,s_ap,...,s_rs,s_sc,s_se,s_sp,s_to,week_of_year,year,store_avg,store_std,holiday
0,renner_ar_ex_1,2022-04-10,12,0,1,0,0,0,0,0,...,0,0,0,0,0,14,2022,46.319672,68.294485,0
1,renner_ar_ex_1,2022-04-17,6,0,1,0,0,0,0,0,...,0,0,0,0,0,15,2022,46.319672,68.294485,1
2,renner_ar_ex_1,2022-04-24,4,0,1,0,0,0,0,0,...,0,0,0,0,0,16,2022,46.319672,68.294485,1
3,renner_ar_ex_1,2022-05-01,12,0,1,0,0,0,0,0,...,0,0,0,0,0,17,2022,46.319672,68.294485,1
4,renner_ar_ex_1,2022-05-08,2,0,1,0,0,0,0,0,...,0,0,0,0,0,18,2022,46.319672,68.294485,0